<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>
<body>
<header>
    <nav>
        <a href="index.html" th:href="@{/}">TOP</a>
        <a href="signup.html" th:href="@{/signup}">sign-up</a>
        <a href="login.html" th:href="@{/login}">log-in</a>
    </nav>
</header>
<main>
    <h1>Index Page</h1>
    <p>Welcome!!!</p>
</main>
<footer>
    <dl>
        <dt>TIMESTAMP</dt>
        <dd>
            <!--/*@thymesVar id="timestamp" type="java.time.ZonedDateTime"*/-->
            <time th:datetime="${timestamp}"
                  th:text="${#temporals.format(timestamp, 'yyyy-MM-dd HH:mm VV')}">timestamp
            </time>
        </dd>
    </dl>
</footer>
</body>
</html>