<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Account</title>
</head>
<body>
<header>
    <nav>
        <a href="index.html" th:href="@{/}">TOP</a>
        <a href="login.html" th:href="@{/login}">log-in</a>
    </nav>
</header>
<main>
    <h1>New Account</h1>
    <!--/*@thymesVar id="account" type="hemoptysisheart.github.com.tutorial.spring.web.AccountPo"*/-->
    <dl th:object="${account}">
        <dt>ID</dt>
        <dd><span th:text="*{id}">id</span></dd>
        <dt>EMAIL</dt>
        <dd>
            <address th:text="*{email}">email</address>
        </dd>
        <dt>NICKNAME</dt>
        <dd>
            <address th:text="*{nickname}">nickname</address>
        </dd>
    </dl>
    <div>
        <a href="login.html" th:href="@{/login}">Log-In</a>
    </div>
</main>
</body>
</html>